h1{
	color:white;
}

#contactus{
text-align:center;
display:inline;padding:15px
}
#ss{
text-align: center;
font-size: 150%;
font-weight: bold;
color:#F4A460
}

.topnav {
  background-color:#ffffff;
  overflow: hidden;
  text-align:center;
}
.logo{
   background-color:#F4A460;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  width:100%;
  background-color:#F4A460;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color:green
}

.button:active {
  background-color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




body
{
	background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bg_1.jpg');
	background-size:cover;
	background-position:center;
}
.booking-form-box
{
	/* max-width: 350px; */
	width: 35%;
	max-width: 500px;
	border: 1px solid #ced4da;
	margin: 10% auto 0;
	padding: 20px;
	border-radius: 1rem;
}

.booking-form
{
	/* padding: 0 20px 0px; */
}
.booking-form label
{
	margin-bottom:5px;
	margin-top:10px;
	font-size:12px;
	color: #fff;

}
input::placeholder
{
	color: #fff ;
}
.input-grp
{
	/* width: 151px;
	display: inline-block; */

}
.form-control
{
	font-size: 12px;
	border-radius: 0;
	color: #fff;
	background: transparent;
	box-shadow: none;
}
.select-date::webkit-inner-spin-button,
.select-date::webkit-outer-spin-button
{
	-webkit-appearence: none;
	margin: 0;
}

.select-date::webkit-calender-picker-indicator
{
	background:transparent;
	background:transparent;
}
.custom-select
{
	color: #fff;
	font-size: 12px;
	border: 1px solid #ced4da;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}

.custom-select option
{
	color: #333;
}


.input-grp-container {
	display: flex;
  justify-content: space-between;
}

.input-grp-container .input-grp {
	flex: 1;
  margin-left: 1rem;
}

.input-grp-container .input-grp:first-child {
	margin-left: 0;
}

.input-submit {
	margin-top: 1rem;
}

.element-hidden {
	display: none;
}
